In [1]:
import pandas as pd

test_df = pd.DataFrame({
            'start_date': ['01/01/2025','01/02/2025','01/03/2025'],
            'end_date': ['03/01/2025','05/02/2025','04/02/2025']
        })

In [ ]:
from datacleaner import loanCleaner

test_df['start_date'] = pd.to_datetime(test_df['start_date'], format = '%d/%m/%Y')
test_df['end_date'] = pd.to_datetime(test_df['end_date'], format = '%d/%m/%Y')

test_data = loanCleaner(test_df, 'start_date', 'end_date')

test_data['duration'].all()

c:\Users\Admin\Desktop\DE5-M5\datacleaner.py:38: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'False' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df['duration'] < 0) | (df[loan_from] > pd.Timestamp.today()), 'loan_valid'] = False

True

In [6]:
(test_data['duration']>= 0).all()

False

In [7]:
test_data

  start_date   end_date  duration loan_valid
0 2025-01-01 2025-01-03         2       True
1 2025-02-01 2025-02-05         4       True
2 2025-03-01 2025-02-04       -25      False

In [9]:
(test_data['duration']>=0) | (test_data['loan_valid']== False)

0    True
1    True
2    True
dtype: bool